body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
}

.header {
    background-color: #333;
    color: #fff;
    padding: 15px;
    text-align: center;
}

.header h2 {
    margin: 0;
}

.content {
    display: flex;
}

.sidebar {
    width: 20%;
    padding: 20px;
    background-color: #f0f0f0;
}

.main {
    flex: 1;
    padding: 20px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

Ebutton{
    width: 100%;
    padding: 5px;
    background-color: #333;
    color: #fff;
    border: 1px solid #ddd;
    cursor: pointer;
}

input{
    width: 10%;
    padding: 8px;
    border: 1px solid #ddd;
}

.studentTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
.registrationTable{
    width: 100%;
}

.studentTable th,
.studentTable td {
    border: 1px solid #ddd;
    padding: 8px;
}

.registrationTable th, 
.registrationTable td {
    border: 1px solid #ddd;
    padding: 8px;
}

.hide {
    display: none;
}

.btn-red {
    background-color: rgb(231, 7, 7);
    color: white;
}

.btn-green {
    background-color:rgb(10, 156, 40);
    color: white;
}

.hide {
    display: none;
}