<!-- 
    CSE 106 -- Lab 8
    HTML -- /templates/student.html
-->

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Lab8 - Student</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/student.css') }}">
    <!-- Scripts -->
    <script src="{{ url_for('static', filename='js/student.js') }}"></script>
</head>
<body>
    <h1>Student Page!</h1>
</body>
</html>