<!-- 
    CSE 106 -- Lab 8
    HTML -- /templates/teacher.html
-->

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Lab8 - Teacher</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/teacher.css') }}">
    <!-- Scripts -->
    <script src="{{ url_for('static', filename='js/teacher.js') }}"></script>
</head>
<body>
    <h1>Teacher Page!</h1>
    <div class="content">
        <table>
            <tr>
                <th>Course Name</th>
                <th>Time</th>
                <th>Students Enrolled</th>
            </tr>
        </table>
    </div>



</body>
</html>